@model NewsViewModel

@{
    ViewData["Title"] = "Welcome To MyNews";
}


<div class="container">
    <h1 class="text-center mt-5">Welcome</h1>
    <div class="card mt-4 shadow">
        <div class="card-body">
            <h5 class="card-title text-primary">Card Title</h5>
            <p class="card-text">This is a sample card.</p>
        </div>
    </div>
</div>