@model NewsViewModel

@{
    ViewData["Title"] = "Welcome To MyNews";
}


<div class="container" style="margin-top:90px;margin-bottom:110px">

    <div class="card shadow-lg">
        <div class="me-4 ms-4 mt-3">
            <a asp-controller="MyNews" asp-action="Index" class="btn btn-primary">
                <i class="bi bi-arrow-left-circle m-2"></i>
                Back to News
            </a>
        </div>
        <div class="me-4 ms-4 mt-3">
            <img src="/Images/NewsCoverImgs/@Model.CoverImgPath" style="max-height:300px;object-fit:contain" class="card-img-top border rounded p-3 bg-light" alt="...">
        </div>

        <div class="card-body me-4 ms-4">
            <h1 class="card-title fw-bold mb-3">@Model.Title</h1>
            <div class="mb-3">
                <span class="badge rounded-pill bg-primary mb-3">By: @Model.AuthorName</span>
                <span class="badge rounded-pill bg-success mb-3">@Model.PublicationDate.ToString("d/M/yyyy")</span>
            </div>
            <div class="mb-5">
                <p class="card-text">@Model.NewsContent</p>

            </div>
            <div class="text-end me-2 mb-2">
                <a asp-controller="MyNews" asp-action="Index" class="btn btn-primary">
                    <i class="bi bi-arrow-left-circle m-2"></i>
                    Back to News
                </a>
            </div>
        </div>

    </div>

</div>