@model IEnumerable<AuthorViewModel>

@{
    ViewData["Title"] = "Authors";
}


<div class="card shadow border-primary mt-5 mb-3">
    <div class="card-header bg-primary text-light h5 p-4">
        <div class="row align-items-center">
            <div class="col-6">
                <h3 class="ps-2 mb-0">
                    <i class="bi bi-vector-pen"></i>
                    Authors
                </h3>

            </div>
            <div class="col-6 text-end">
                <a class="js-render-modal btn btn-success" data-url="/Authors/Create" data-title="Add Author"><i class="bi bi-plus-circle me-2"></i>Add Author</a>
            </div>
        </div>



    </div>
    <div class="card-body text-secondary">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Published News</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <partial name="_RowData" model="author" />

                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

@Html.AntiForgeryToken()


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            datatable = $('table').DataTable({
                columnDefs: [
                    {
                        orderable: false,
                        targets: 2
                    },
                    {
                        defaultContent: "_",
                        targets: "_all"
                    }
                ],
                order: [[0, 'asc']],
            });
        });
    </script>
}
